* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: black;
}

#game {
    width: 400px;
    height: 500px;
    background-color: white;
    margin: auto;
}

#character {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    top: 440px;
    left: 190px;
    z-index: 1000000;
}

.block{
    width: 400px;
    height: 20px;
    background-color: black;
    position: relative;
    top: 100px;
    margin-top: -20px;
}

.hole{
    width: 50px;
    height: 20px;
    background-color: white;
    position: relative;
    top: 100px;
    margin-top: -20px;
}

button {
    color: black;
    background-color: black;
    border: none;
}

@media (max-width: 670px) {
    .controller {
        margin-top: 15px;
        margin-left: 500px;
    }
    
    button {
        height: 100px;
        width: 100px;
        background-color: black;
    }
    
    .buttonright {
        margin-left: 163px;
    }
    
    .fas {
        font-size: 70px;
        color: white;
    }
}